<!DOCTYPE html>
<html>
    <head>
        <title>Manuel Liebchen | Resume</title>
        <meta name="description" content="Manuel Liebchen - Computervisualistik student in Magdeburg, enthusiastic developer with experience in most fields of computer science.">
        <meta name="keywords" content="Manuel Liebchen, Liebchen, Developer, Magdeburg">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Manuel Liebchen">
        <meta property="og:url" content="https://manuelliebchen.de/">
        <meta property="og:title" content="Manuel Liebchen | Resume">
        <meta property="og:description" content="Manuel Liebchen - Computervisualistik student in Magdeburg, enthusiastic developer with experience in most fields of computer science.">
        
        <meta name="twitter:title" content="Manuel Liebchen | Resume">
        <meta name="twitter:description" content="Manuel Liebchen - Computervisualistik student in Magdeburg, enthusiastic developer with experience in most fields of computer science.">
        <!-- <meta name="twitter:card" content="">
        <meta name="twitter:image" content=""> -->

        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class="py-5">
            <header class="">
                <a href="/"><h1>Manuel Liebchen</h1></a>
            </header>
            <module href="/components/home.html"></module>
        </div>
        <section id="contact" class="position-fixed" style="top: 150px; min-width: 275px; z-index: 2;">
            <div id="to-bottom" class="position-relative bg-white shadow rounded-left p-3" style="right: 120px; z-index: 1; height: 50px;">
                <i class="fas fa-caret-left"></i> Click me!
            </div>
            <div class="w-100 h-100 bg-white shadow rounded-left p-4" style="z-index: 2; padding-top: 100px; margin-top: -65px;">
                <h2 class="" style="">Contact</h2>
                <div class="d-flex flex-column">
                    <a class="" href="https://github.com/manuelliebchen" target="_blank">
                        <i class="fab fa-github mr-2"></i> manuelliebchen
                    </a>
                    <a class="" href="mailto:hallo@manuelliebchen.de" target="_blank">
                        <i class="far fa-envelope mr-2"></i> hallo@manuelliebchen.de
                    </a>
                </div>
            </div>
        </section>
        <script src="index.js"></script>
    </body>
</html>